<div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 gutter-zero">
	<!-- Start Hover -->
    <a href="/vtour/tour.html?startscene=scene_<%= slug %>" class="hovereffect animated fadeIn">
        <img class="img-responsive" src="../vtour/panos/<%= item.url %>" alt="<%= item.title %>">
            <div class="overlay">
                <h2><%= item.title %></h2>
            </div>
    </a>
    <!-- End Hover -->
</div>